@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  background-color: #242424;
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

*/
body {
  /* background-color: #242424; */
  /* color-scheme: light dark; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.menu-links.open {
  max-height: 300px;
}
.menu-links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

.blur-backdrop-filter {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
